@import '@backstage/ui/css/styles.css';
@import '@fontsource/roboto/300.css';

:root {
  --bui-font-regular: system-ui;
  --bui-font-weight-regular: 400;
  --bui-font-weight-bold: 600;
  --bui-bg: #ededed;
  --bui-bg-surface-1: #fff;
  /* ... other CSS variables */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
